* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
  margin: 10x;
  color: blueviolet;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}

.main-menu .link {
  display: inline;
  width: 150px;
  font-size: 20px;
  color: #eeeeee;
  margin-inline: 50px;
  padding: 10px;
  background-color: lightgrey;
  border-radius: 20px;
}

#main-content {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

/*background image added in css*/
#main-content::after {
  content: "";
  background-image: url("../images/main-background.jpg");
  background-size: cover;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
  z-index: -10;
}

.profile {
  border: 1px solid lightgrey;
  border-radius: 50px;
  padding: 5px;
  width: 120px;
  height: auto;
  float: left;
  margin-right: 30px;
  opacity: 0.9;
}
.header h1 {
  display: grid;
  grid-template-rows: auto;
  font-size: auto;
}
/*style for h1 text*/
h1 .rothmann {
  color: blueviolet;
}

section {
  display: grid;
  grid-template-columns: 33% 67%;
  grid-template-rows: 1fr;
  grid-template-areas:
    "heading content"
    "col-1 col-2";
  gap: 40px;
  justify-content: center;
  padding: 10px 50px;
}

section h2 {
  min-width: 250px;
}
.section-content {
  white-space: nowrap;
  font-size: 1.1rem;
  line-height: 2.2em;
}

.content {
  max-width: 800px;
}

.portfolio-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "col1 col2"
    "pr1 pr2"
    "pr3 pr4";
  gap: 10px;
}

.portfolio-content img {
  width: auto;
  height: auto;
}

.portfolio-content img:hover {
  transition: 0.5s ease;
  opacity: 0.5;
  box-shadow: 5px 5px blueviolet;
}

/* For small screens */
@media (max-width: 800px) {
  section {
    grid-template-columns: 100%;
    grid-template-areas:
      "content"
      "col-1";
    padding: 5px 5px;
  }

  .section-content {
    white-space: normal;
  }

  .portfolio-content {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 100%;
    grid-template-areas:
      "col1"
      "img1";
  }
}
