* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
  margin: 10x;
  color: blueviolet;
}

.main-menu .link {
  display: inline;
  width: 150px;
  font-size: 20px;
  color: #eeeeee;
  margin-inline: 50px;
  padding: 10px;
  border: 2px solid lightcyan;
  border-radius: 10px;
}

body {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

body::after {
  content: "";
  background-image: url("../images/main-background.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
  z-index: -10;
}

.profile {
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 5px;
  width: 120px;
  height: auto;
  float: left;
  margin-right: 30px;
}
.header h1 {
  display: grid;
  grid-template-rows: auto;
  font-size: auto;
}
/*style for h1 text*/
h1 .rothmann {
  color: blueviolet;
}

h1 h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

section {
  padding: 10px;
}

.content {
  max-width: 400px;
}
