* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 10x;
  color: blueviolet;
}

.main-menu .link{
  display: inline;
}

body {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0;
  background-color:lightgray;
  display: flex;
  flex-direction: column;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
img {
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 5px;
  width: 100px;
  height: auto;
  float:left; 
  margin-right: 30px;
}
.header h1 {
  display: grid;
  grid-template-rows: auto;
  font-size: auto;
}
/*style for h1 text*/
h1 .rothmann {
  color: blueviolet;
}
link-group
}
h1
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

section {
  padding: 10px;
  
}

.content {
  max-width: 400px;
  
}
